body{
    background-color: orange;
    margin: 0;
}
h1{
    background: url('../images/verduras.jpg');
    margin: 0;
    color: black;
    text-align: center;
    height: 100px;
}
.nav li{
    display: inline;
    margin: 10px;
}